$color-blue: #93a5cf;
$color-darkGray: #a4a4a4;
$color-lightGray: #efefef;
$color-lightestGray: #f7f7f7;
$color-orange: #ff5839;

.contacts{
  padding: 20px 26px;
  padding-right: 0;
}

.contact{
  &__label_size_s{
    color: $color-darkGray;
    font-size: 14px;
  }
  &__content{
    font-weight: bold;
  }
  &__content_type_link{
    color: $color-blue;
  }
  padding-bottom: 15px;
}
