.long{
  &__item{
    padding: 40px 50px;
  }
  &__item_more{
    height: 75px;
    background-color: #f7f7f7;
    margin-top: 0!important;
  }
  &__text-1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15.5px!important;
  }
  &__text-2{
    font-size: 13px;
    font-weight: bold;
    color: #a7a7a7;
  }
  &__location-1{
    margin-top: 22px;
    margin-left: 30px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__button{
    @extend .button;
    width: 230px;
    margin-top: -45px;
  }
  &__more{
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    color: #a3a3a3;
  }
  &__image{
    margin-top: 11px;
    margin-left: 11px;
  }

}
