<div class="debit">
    <div class="container">
        <div class="flex flex-j-s">
            <div class="card__item border_right border_top border_left border_t-l-r-10 hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top hover bestcard">
                <img src="img/tinkof.png" alt="Tinkoff Card" class="card__image">
                <div class="text__underline card__text-2">Тинькофф Платинум</div>
                <div class="card__text-1">Тинькофф</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top hover">
                <img src="img/alfa.png" alt="alfa bank card" class="card__image">
                <div class="text__underline card__text-2">Classic</div>
                <div class="card__text-1">Альфа-банк</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top border_t-r-r-10 hover ">
                <img src="img/uralskiy.png" alt="Uralskiy bank Card" class="card__image">
                <div class="text__underline card__text-2">Быстрокарта (Быстроденьги) </div>
                <div class="card__text-1">Уральский банк</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top border_left hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top border_bottom hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right border_top border_bottom border_b-r-r-10 hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_top border_right border_left border_bottom border_b-l-r-10 hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_top border_right border_bottom border_b-r-r-10 hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процент на остаток</div>
                        <div class="strong">до 6%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Кэшбэк</div>
                        <div class="strong">1-30%</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
        </div>
    </div>
</div>
