<div class="comments">
    //= comments-preview.html
    <div class="flex container">
        <div class="half-and-quarter comments__content">
            <div class="text-sub-title text-blue text-header text-strong">
                12 отзывов
            </div>
            <article class="comment flex flex-j-sb flex-d-c form">
                <header class="comment__header flex full-width flex-j-sb flex-n-w">
                    <img src="img/avatar.png" alt="avatar" class="comment__avatar">
                    <div class="comment__meta flex flex-d-c flex-a-fs flex-g-2">
                        <div class="comment__author">
                            Наталья Грицина
                        </div>
                        <div class="comment__date-create">
                            28 декабря 2018
                        </div>
                    </div>
                    <div class="star-3"></div>
                </header>
                <main class="comment__content">
                    <hr>
                    <div class="comment__text">
                        <div>
                            Понадобился займ в размере 5000 рублей на 10 дней до аванса,
                            чтобы заплатить за аренду квартиры. Нашла, что есть
                            варианты без процентов. Выбрала еКапусту и оформила заявку.
                            Вместо 5000 рублей одобрили даже больше (8000 рублей). Но
                            при выборе способа получения денег произошел казус. Оказывается,
                            чтобы получить деньги на карту, нужно
                            сфотографироваться с табличкой в руках с надписью "Заявка на займ еКапуста",
                            а также сделать селфи с паспортом и фото
                            самого паспорта. Проблема заключалась в том, что у меня не было под рукой
                            телефона с камерой и пришлось просить
                            незнакомых соседей. Это было не слишком удобно, но в итоге займ я на карту
                            получила. Сумма
                            к погашению в личном кабинете - 5000 рублей, т.е. первый займ в
                            еКапусте действительно получается без процентов.
                        </div>
                        <img class="comment__pinned comment__pinned_type_image" src="img/russian-standart.png" alt="credit card">
                        <img class="comment__pinned comment__pinned_type_image" src="img/russian-standart.png" alt="credit card">
                    </div>
                </main>
            </article>
            <article class="comment flex flex-j-sb flex-d-c form">
                <header class="comment__header flex full-width flex-j-sb flex-n-w">
                    <img src="img/avatar.png" alt="avatar" class="comment__avatar">
                    <div class="comment__meta flex flex-d-c flex-a-fs flex-g-2">
                        <div class="comment__author">
                            Константин Константинопольский
                        </div>
                        <div class="comment__date-create">
                            28 декабря 2018
                        </div>
                    </div>
                    <div class="star-1"></div>
                </header>
                <main class="comment__content">
                    <hr>
                    <div class="comment__text">
                        Ужасная карта — не берите. Если просрочите хоть рубль по рассрочке,
                        проценты начисляться на ВСЮ сумму всех рассрочек.
                    </div>
                </main>
            </article>
            <button class="button button_type_gray button_size_full button_offset-bottom_much">Показать больше отзывов</button>
            <article class="flex flex-j-sb flex-a-fs flex-d-c form form_offset_big">
                <h1>Расскажите о своем опыте</h1>
                <form class="flex flex-d-c flex-a-fs border-box">
                    <input class="input input_type_text input_type_login" type="text" name="name" placeholder="Введите имя">
                    <br>
                    <strong class="set-appraisa">
                        <span class="text-small">★</span> &nbsp; &nbsp; Поставьте оценку организации:
                        &nbsp; &nbsp; <div class="offset-left offset-right star-big-4"></div>
                        4 из 5
                    </strong>
                    <br>
                    <input class="input input_type_text input_type_email" type="email" name="email" placeholder="Ваш e-mail">
                    <textarea
                        name="comment"
                        class="input input_type_text input_type_comment"
                        id=""
                        cols="30"
                        rows="10"
                        placeholder="Ваш комментарий"
                    ></textarea>
                    <input type="text" class="input input_type_text input_type_advantage" placeholder="Расскажите о преимуществах">
                    <input type="text" class="input input_type_text input_type_problems" placeholder="Расскажите о недостатках">
                    <div class="input input_type_file input_styled">
                        <input type="file" class="input__upload input__upload_type_file">
                        <div class="input__styled-item input__styled-item_type_file">
                            Приложите файл
                        </div>
                    </div>
                    <div class="flex flex-n-w accept">
                        <button class="button button_with-min">Добавить отзыв</button>
                        <div class="accept__text">
                            <div class="input input_type_checkbox input_styled">
                                <input type="checkbox" name="accept" class="input input__upload_type_checkbox">
                                <div class="input__styled-item input__styled-item_type_checkbox"></div>
                            </div>
                            Нажимая кнопку «Добавить отзыв» вы соглашаетесь
                            с политикой обработки персональных данных
                            и пользовательским соглашением
                        </div>
                    </div>
                </form>
            </article>
        </div>
        <div class="one-and-sixth flex flex-d-c">

        </div>
    </div>
</div>
