<div class="zaimi long">
    <div class="container">
        <h2>Предложения по кредитам</h2>
        <div class="border">
            <div class="long__item star-5 flex hover">
                <img class="long__image" src="img/tinkof-big.png" alt="Тинькофф">
                <div class="long__itemChild">
                    <div class="long__text-1 text__underline">
                        Кредит наличными тинькофф банк
                    </div>
                    <div class="flex flex-j-s flex">
                        <div class="long__location-1">
                            <div class="long__text-2">Срок кредита</div>
                            <div class="long__text-3 strong">до 7 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Максимальная сумма</div>
                            <div class="long__text-3 strong">1 000 000 руб.</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Ставка</div>
                            <div class="long__text-3 strong">от 10,9%</div>
                        </div>
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Минимальная сумма</div>
                            <div class="long__text-3 strong">10 000руб</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Возраст заемщика</div>
                            <div class="long__text-3 strong">от 18 до 80 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Решение</div>
                            <div class="long__text-3 strong">2 часа</div>
                        </div>
                    </div>
                </div>
                <div class="long__location-2 text-center">
                    <button class="long__button">Оформить кредит</button>
                    <a href="#" class="long__more">Подробнеее</a>
                </div>
            </div>
            <div class="long__item star-5 flex hover border_top">
                <img class="long__image" src="img/vostochniy.png" alt="Восточный">
                <div class="long__itemChild">
                    <div class="long__text-1 text__underline">
                        Кредит наличными восточный банк
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Срок кредита</div>
                            <div class="long__text-3 strong">до 7 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Максимальная сумма</div>
                            <div class="long__text-3 strong">1 000 000 руб.</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Ставка</div>
                            <div class="long__text-3 strong">от 10,9%</div>
                        </div>
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Минимальная сумма</div>
                            <div class="long__text-3 strong">10 000руб</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Возраст заемщика</div>
                            <div class="long__text-3 strong">от 18 до 80 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Решение</div>
                            <div class="long__text-3 strong">2 часа</div>
                        </div>
                    </div>
                </div>
                <div class="long__location-2 text-center">
                    <button class="long__button">Оформить кредит</button>
                    <a href="#" class="long__more">Подробнеее</a>
                </div>
            </div>
            <div class="long__item star-5 flex hover border_top">
                <img class="long__image" src="img/home-credit.png" alt="Хоум кредит">
                <div class="long__itemChild">
                    <div class="long__text-1 text__underline">
                        Кредит наличными хоум кредит
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Срок кредита</div>
                            <div class="long__text-3 strong">до 7 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Максимальная сумма</div>
                            <div class="long__text-3 strong">1 000 000 руб.</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Ставка</div>
                            <div class="long__text-3 strong">от 10,9%</div>
                        </div>
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Минимальная сумма</div>
                            <div class="long__text-3 strong">10 000руб</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Возраст заемщика</div>
                            <div class="long__text-3 strong">от 18 до 80 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Решение</div>
                            <div class="long__text-3 strong">2 часа</div>
                        </div>
                    </div>
                </div>
                <div class="long__location-2 text-center">
                    <button class="long__button">Оформить кредит</button>
                    <a href="#" class="long__more">Подробнеее</a>
                </div>
            </div>
            <a href="#">
                <div class="flex flex-j-c border_top long__more long__item_more">
                    Показать больше займов
                </div>
            </a>
        </div>
    </div>
</div>