<div class="debit">
    <div class="container">
        <h2>Дебетовые карты</h2>
        <div class="border flex flex-j-s flex-n-w">
            <div class="card__item border_right hover">
                <img src="img/russian-standart.png" alt="Russian Standart Card" class="card__image">
                <div class="text__underline card__text-2">Платинум</div>
                <div class="card__text-1">Русский Cтандарт</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процентная ставка</div>
                        <div class="strong">от 12%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Льготный период</div>
                        <div class="strong">55 дней</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right hover bestcard">
                <img src="img/tinkof.png" alt="Tinkoff Card" class="card__image">
                <div class="text__underline card__text-2">Тинькофф Платинум</div>
                <div class="card__text-1">Тинькофф</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процентная ставка</div>
                        <div class="strong">от 21%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Льготный период</div>
                        <div class="strong">90 дней</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item border_right hover">
                <img src="img/alfa.png" alt="alfa bank card" class="card__image">
                <div class="text__underline card__text-2">Classic</div>
                <div class="card__text-1">Альфа-банк</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процентная ставка</div>
                        <div class="strong">от 12%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Льготный период</div>
                        <div class="strong">55 дней</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
            <div class="card__item hover">
                <img src="img/uralskiy.png" alt="Uralskiy bank Card" class="card__image">
                <div class="text__underline card__text-2">Быстрокарта (Быстроденьги) </div>
                <div class="card__text-1">Уральский банк</div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/proc.png" alt="Процентая ставка">
                    <div class="card__location-2">
                        <div class="card__text-1">Процентная ставка</div>
                        <div class="strong">от 12%</div>
                    </div>
                </div>
                <div class="card__location-1 flex flex-j-s">
                    <img src="img/lgotniy-pereiod.png" alt="Льготный период">
                    <div class="card__location-2">
                        <div class="card__text-1">Льготный период</div>
                        <div class="strong">55 дней</div>
                    </div>
                </div>
                <button class="button">Оформить карту</button>
            </div>
        </div>
        <div class="arrow-prev">‹</div>
        <div class="arrow-next">›</div>
    </div>
</div>