
    <div class="container">
        <div class="main__grid">
            <div class="flex flex-a-fs grid-c-2 main__item">
                <div>
                    <div class="main__text-1">
                        Кредитные<br> карты
                    </div>
                    <div class="main__label">198</div>
                </div>
                <div>
                    <a href="#" class="main__text-2"><span class="text__underline">Без справок о доходе</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Без отказа</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">с 18 лет</span></a>
                </div>
                <div>
                    <a href="#" class="main__text-2"><span class="text__underline">Со снятием наличных</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Без платы за обслуживание</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Без процентов</span></a>
                </div>
            </div>
            <div class="flex  flex-a-fs grid-c-1 grid-r-2 main__item border_left border_right main__extra">
                <div>
                    <div class="main__text-1">
                        Займы
                    </div>
                    <a href="#" class="main__text-2 main__text-2_t"><span class="text__underline">По паспорту</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Без отказа</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Срочные</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Без паспорта</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">До зарплаты</span></a>
                </div>
                <div class="flex main__row">
                    <div class="main__superlabel">198+</div>
                    <img src="img/zaymi.png" alt="zaymi">
                </div>
            </div>
            <div class="flex flex-a-fs grid-c-1 grid-r-2 main__item">
                <div>
                    <div class="main__text-1">
                        Кредиты
                    </div>
                    <a href="#" class="main__text-2 main__text-2_t"><span class="text__underline">Премиальные</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Валютные</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">Для пенсионеров</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">По почте</span></a>
                    <a href="#" class="main__text-2"><span class="text__underline">С кэшбеком</span></a>
                </div>
                <div class="flex main__row">
                    <div class="main__label">89</div>
                    <img src="img/crediti.png" alt="crediti">
                </div>

            </div>
            <div class="flex  flex-a-fs grid-c-1 main__item border_right border_top">
                <div>
                    <div class="main__text-1">
                        Карты <br> рассрочки
                    </div>
                    <div class="main__label">987</div>
                </div>
                <img src="img/rassrochki.png" alt="rassrochki">
            </div>
            <div class="flex grid-c-1 main__item border_top">
                <div>
                    <div class="main__text-1">
                        Дебетовы <br> карты
                    </div>
                    <div class="main__label">89</div>
                </div>
                <img src="img/debetovie.png" alt="debetovie">
            </div>
        </div>
    </div>
</div>
