<div class="container paginator">
    <div class="flex flex-j-s">
        <div class="flex border">
            <a href="#" class="paginator__item border_right">Предыдущая страница</a>
            <div class="flex stretch">
                <a href="#" class="paginator__item_nested flex">1</a>
                <a href="#" class="paginator__item_nested flex">2</a>
                <a href="#" class="paginator__item_nested flex">3</a>
                <a href="#" class="paginator__item_nested flex">4</a>
                <a href="#" class="paginator__item_nested flex">5</a>
                <a href="#" class="paginator__item_nested flex">...</a>
                <a href="#" class="paginator__item_nested flex">18</a>
            </div>
            <a href="#" class="paginator__item border_left">Следующая страница</a>
        </div>
    </div>
</div>