<div class="container section problems-and-advatages">
  <div class="problems-and-advatages__grid grid-c-1">
    <div class="form form_widthOffset_big grid-c-1">
      <span class="form__title">Преимущества</span>
      <div class="good-part">Первый займ без процентов</div>
      <div class="good-part">Компетентная и быстрая служба поддержки клиентов</div>
      <div class="good-part">Если хорошая кредитная история, то могут одобрить большую сумму, чем запрашиваете</div>
      <div class="good-part">Моментальное рассмотрение заявки</div>
    </div>
    <div class="form form_widthOffset_big grid-c-1">
      <span class="form__title">Недостатки</span>
      <div class="bad-part">Ненадежный пароль от личного кабинета (но можно поменять)</div>
      <div class="bad-part">Для получения займа на карту, QIWI или Яндекс.Денеги требуется сделать фото с надписью "Заявка на займ еКапуста" (для подтверждения личности)</div>
      <div class="bad-part">Нет бесплатного телефона горячей линии</div>
    </div>
    <img src="img/turbozaim.png" alt="" class="grid-c-2 full-width">
    <div class="text-small text-gray grid-c-2 problems-and-advatages__image-desc">
      Наверняка многие слышали про Рокетбанк — онлайн-банк без каких-либо отделений. И про его лучший продукт — дебетовку
      Рокет. Дебетовая карта позиционируется как стильная и молодежная с очень крутыми условиями.
    </div>
  </div>
    <!-- For skip one column -->
  <div class="grid-c-1"></div>
  <!-- For start offset -->
  <div class="grid-c-2"></div>
  <div class="grid-c-1">
    Наверняка многие слышали про Рокетбанк — онлайн-банк без каких-либо отделений. И про его лучший продукт — дебетовку
    Рокет. Дебетовая карта позиционируется как стильная и молодежная с очень крутыми условиями.
    <br /><br />
    Но почему нужно оформить именно ее? Ну, она бесплатная. И приносит доход. Причем неважно сколько у вас денег на балансе,
    100 или 5 000 000 рублей. <span class="marked">Вы в любом случае будете получать свои 5,5% на остаток.</span> Даже вклады
    не у всех банков настолько выгодны:
  </div>
  <div class="grid-c-1">
    <div class="form">
      <em>Все данные "Северсталь"</em> публикует в <a href="#" class="link">пресс-релизах на официальном сайте</a>
    </div>
  </div>
  <div class="grid-c-1">
    <div class="flex flex-a-fs flex-j-s flex-n-w">
      <div class="bullet bullet_size_small">1</div>
      <div class="text-small text-left-offset">
        <strong>Кэшбек.</strong> Здесь он начисляется в виде рокетрублей (по сути обычные рубли).
        Ежемесячно банк показывает 5 категорий, из которых вы можете выбрать 3, по которым у вас
        будет cashback 10%. Кстати, кэшбек здесь без округлений (а многие банки любят этим заниматься).
      </div>
    </div>
    <div class="flex flex-a-c flex-j-s flex-n-w offset-bottom">
      <div class="bullet bullet_size_small bullet_offset_zero">2</div>
      <div class="text-small text-left-offset">
        <strong>Банкоматы.</strong> Вы можете снимать наличку в любых банкоматах (все равно какой банк).
        По всему миру. Бесплатно.
      </div>
    </div>
    <div class="flex flex-a-c flex-j-s flex-n-w offset-bottom">
      <div class="bullet bullet_size_small bullet_offset_zero">3</div>
      <div class="text-small text-left-offset">
        <strong>Доступна с 14 лет.</strong> Ну кто еще так может?
      </div>
    </div>
    <div class="flex flex-a-fs flex-j-s flex-n-w">
      <div class="bullet bullet_size_small">4</div>
      <div class="text-small text-left-offset">
        <strong>Игровой режим.</strong> Это такой повышенный кешбек для геймеров. Если вы пользуетесь
        PlayStation Store, Steam, Fortnite, Xbox, GOG.com, War Thunder, League Of Legends, Battle.net,
        Wargaming.net, EVE Online и Origin, то будете получать от 7 до 10% cashback во время распродаж
        в данных играх/сервисах.
      </div>
    </div>
  </div>
  <!-- Empty column -->
  <div class="grid-c-1"></div>
  <div class="grid-c-1">
    <div class="blockquote">
      Но почему нужно оформить именно ее? Ну, она бесплатная. И приносит доход. Причем неважно сколько у вас денег на балансе,
      100 или 5 000 000 рублей. Вы в любом случае будете получать свои 5,5% на остаток. Даже
      вклады не у всех банков настолько выгодны.
    </div>
  </div>
  <!-- Empty column -->
  <div class="grid-c-1"></div>
  <div class="grid-c-1">

  </div>
</div>
