<div class="zaimi long">
    <div class="container">
        <h2>Лучшие займы</h2>
        <div class="border">
            <div class="long__item star-5 flex hover">
                <img class="long__image" src="img/green-money.png" alt="Green Money">
                <div class="long__itemChild">
                        <div class="long__text-1 text__underline">
                            Green Money (Грин Мани)
                        </div>
                        <div class="flex flex-j-s">
                            <div class="long__location-1">
                                <div class="long__text-2">Срок займа</div>
                                <div class="long__text-3 strong">40 дней</div>
                            </div>
                            <div class="long__location-1">
                                <div class="long__text-2">Сумма займа</div>
                                <div class="long__text-3 strong">до 150 000 руб.</div>
                            </div>
                            <div class="long__location-1">
                                <div class="long__text-2">Ставка</div>
                                <div class="long__text-3 strong">от 2%</div>
                            </div>
                        </div>
                        <div class="flex flex-j-s">
                            <div class="long__location-1">
                                <div class="long__text-2">Рассмотрение</div>
                                <div class="long__text-3 strong">15 минут</div>
                            </div>
                            <div class="long__location-1">
                                <div class="long__text-2">Возраст заемщика</div>
                                <div class="long__text-3 strong">от 18 до 80 лет</div>
                            </div>
                            <div class="long__location-1">
                                <div class="long__text-2">Способы получения</div>
                                <div class="long__text-3 strong">Наличные, на карту или банковский счет</div>
                            </div>
                        </div>
                </div>
                <div class="long__location-2 text-center">
                    <button class="long__button">Оформить займ</button>
                    <a href="#" class="long__more">Подробнеее</a>
                </div>
            </div>
            <div class="long__item star-5 flex border_top hover">
                <img class="long__image" src="img/bistro-dengi.png" alt="Быстроденьги">
                <div class="long__itemChild">
                    <div class="long__text-1 text__underline">
                        Быстроденьги
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Срок займа</div>
                            <div class="long__text-3 strong">40 дней</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Сумма займа</div>
                            <div class="long__text-3 strong">до 150 000 руб.</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Ставка</div>
                            <div class="long__text-3 strong">от 2%</div>
                        </div>
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Рассмотрение</div>
                            <div class="long__text-3 strong">15 минут</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Возраст заемщика</div>
                            <div class="long__text-3 strong">от 18 до 80 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Способы получения</div>
                            <div class="long__text-3 strong">Наличные, на карту или банковский счет</div>
                        </div>
                    </div>
                </div>
                <div class="long__location-2 text-center">
                    <button class="long__button">Оформить займ</button>
                    <a href="#" class="long__more">Подробнеее</a>
                </div>
            </div>
            <div class="long__item star-5 flex border_top hover">
                <img class="long__image" src="img/dengi-nadom.png" alt="Деньги на дом">
                <div class="long__itemChild">
                    <div class="long__text-1 text__underline">
                        Деньги на дом
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Срок займа</div>
                            <div class="long__text-3 strong">40 дней</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Сумма займа</div>
                            <div class="long__text-3 strong">до 150 000 руб.</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Ставка</div>
                            <div class="long__text-3 strong">от 2%</div>
                        </div>
                    </div>
                    <div class="flex flex-j-s">
                        <div class="long__location-1">
                            <div class="long__text-2">Рассмотрение</div>
                            <div class="long__text-3 strong">15 минут</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Возраст заемщика</div>
                            <div class="long__text-3 strong">от 18 до 80 лет</div>
                        </div>
                        <div class="long__location-1">
                            <div class="long__text-2">Способы получения</div>
                            <div class="long__text-3 strong">Наличные, на карту или банковский счет</div>
                        </div>
                    </div>
                </div>
                <div class="long__location-2 text-center">
                    <button class="long__button">Оформить займ</button>
                    <a href="#" class="long__more">Подробнеее</a>
                </div>
            </div>
            <a href="#">
                <div class="flex flex-j-c border_top long__more long__item_more">
                    Показать больше займов
                </div>
            </a>
        </div>
    </div>
</div>