$color-blue: #93a5cf;
$color-darkGray: #a4a4a4;
$color-lightGray: #efefef;
$color-lightestGray: #f7f7f7;
$color-gray: #eee;
$color-white: #ffffff;
$color-orange: #ff5839;
$starChar: '★';

@mixin repeat($n, $character: $starChar){
  $c: "";
  @for $i from 1 through $n {
    $c: $c + $character;
 }
   content: $c;
}
body{
  margin:0!important;
  font-family: 'IBM Plex Sans', sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: unset;
}
.animated{
  transition: all .2s linear;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-g-1{
  flex-grow: 1;
}
.flex-g-2{
  flex-grow: 2;
}
.flex-j-c{
  justify-content: center;
}
.flex-j-s{
  justify-content: flex-start;
}
.flex-j-e{
  justify-content: flex-end;
}
.flex-j-sb{
  justify-content: space-between;
}
.flex-j-sa{
  justify-content: space-around;
}
.flex-d-c{
  flex-direction: column;
}
.flex-n-w{
  flex-wrap: nowrap;
}
.flex-a-b{
  align-items:baseline !important;
}
.flex-a-fe{
  align-items: flex-end;
}
.flex-a-fs{
  align-items: flex-start;
}
.text-gray{
  color: $color-darkGray;
}
.text-small{
  font-size: 14px;
  font-weight: 400;
}
.text-base-padding{
  padding: 5px 15px;
}
.text-sub-title{
  font-size: 24px;
}
.text-header{
  margin: 55px 0 20px;
}
.text-blue{
  color: $color-blue;
}
.text-lined{
  line-height: 1.6;
}
.text-normal{
  font-weight: 400;
  font-size: 15px;
}
.text-bold{
  font-weight: bold;
}
.text-strong{
  font-weight: bolder;
}
.grid{
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: auto;
}
.grid-c-1{
  grid-column-start: 1 span;
}
.grid-c-2{
  grid-column-start: 2 span;
}
.grid-r-1{
  grid-row-start: 1 span;
}
.grid-r-2{
  grid-row-start: 2 span;
}
.grid-g-46{
  grid-gap: 46px;
}
.grid-t-c-4{
  grid-template-columns: repeat(4, 1fr);
}
.smart-break{
  display: block;
}
.half{
  width: 50%;
}
.third{
  width: 33.3333%;
}
.quarter{
  width: 25%;
}
.full-width{
  width: 100%;
}
.offset-left{
  margin-left: 20px;
}
.offset-right{
  margin-right: 20px;
}
.half-and-quarter{
  width: 74.3333333%;
}
.one-and-sixth{
  width: 16.6666666%;
}
.half-and-third{
  width: 83.333333333%;
}
.seven-and-tenth{
  width: 70%;
}
.reverse{
  transform: rotate(180deg);
}
.underline{
  text-decoration: underline;
}
.z-index{
  z-index: 99999!important;
}
.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.border{
  border-radius: 10px;
  border: 1px solid #ddd;
  &_top{
    border-top: 1px solid #dddddd;
  }
  &_left{
    border-left: 1px solid #dddddd;
  }
  &_right{
    border-right: 1px solid #dddddd;
  }
}
.text__underline{
  color: #93a6d0;
  font-size: 14px;
  padding-bottom: 1px;
  border-bottom: 1px solid #93a6d0;
  display: table;
}
.button{
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 67px;
  width: 207px;
  border-radius: 10px;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #f6d166;
  outline:none;
  cursor: pointer;
  transition: 500ms;
  font-family: inherit;
  &:hover{
    box-shadow: 3px 17px 20px -9px rgba(246,209,102,1);
  }
  &_with-min{
    min-width: 207px;
    min-height: 67px;
  }
  &_size_medium{
    width: 230px;
  }
  &_offset_zero{
    margin: 5px;
  }
  &_offset-bottom_much{
    margin-bottom: 50px;
  }
  &_size_full{
    width: 100%;
  }
  &_type_gray{
    background: $color-lightestGray;
    height: 50px;
    &:hover{
      box-shadow: 3px 17px 20px -9px $color-lightGray;
    }
  }
}
.accept__text{
  padding: 20px;
}
.form{
  padding: 20px;
  background-color: $color-lightestGray;
  border-radius: 10px;
  &_offset_big{
    padding: 42px 40px;
  }
}
.input{
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  @extend .animated;
  outline: none;
  &_type_text{
    padding: 26px 20px 24px 54px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-position: 20px 24px;
    background-size: 24px 24px;
  }
  &:focus{
    box-shadow: 0px 3px 7px rgba(0,0,0, 0.03);
    outline: none;
  }
  background-color: $color-white;
  &_styled{
    box-sizing: border-box;
    position: relative;
  }
  &_type_file{
    margin-top: 5px;
    border: 2px dashed $color-darkGray;
    background: transparent;
    width: 100%;
    min-height: 152px;
    color: $color-darkGray;
  }
  &__upload{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1000;
    &_type_file{
      &:hover + .input__styled-item_type_file{
        background: $color-lightGray;
      }
      &:active + .input__styled-item_type_file,
      &:focus + .input__styled-item_type_file{
        background: $color-gray;
      }
    }
  }
  &_type_checkbox{
    $size: 20px;
    width: $size;
    height: $size;
  }
  &__style-item{
    border-radius: 10px;
    @extend .animated;
    &:after{
      content: '';
      display: flex;
    }
  }
  &__styled-item_type_file{
    z-index: 100;
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:after{
      margin-top: 10px;
      display: block;
      content: '';
      background: url(../img/avatar.png);
      $size: 50px;
      background-size: $size $size;
      width: $size;
      height: $size;
    }
  }
}
.hidden{
  visibility: hidden;
}
h2{
  font-size: 31px;
  margin: 60px 0;
}
.strong{
  font-weight: bold;
  color: black;
  font-size: 14px;
}
.hover{
  transition: 500ms;
  &:hover{
    box-shadow: 0 0 30px -7px #9d9d9d;
  }
}
.border-box{
  box-sizing: border-box;
}
.bestcard{
  &::before{
    content: 'Самая лучшая карта';
    background-color: #f6d166;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
    margin-left: 161px;
    margin-top: -47px;
    padding: 4px;
  }
}
.arrow-prev, .arrow-next{
  width: 34px;
  height: 34px;
  border: 1px solid #dddddd;
  border-radius: 24px;
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  display: block;
  background-color: white;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 51%;
}
.arrow-prev{
  margin-left: -17px;
}
.arrow-next{
  right: 0;
  margin-right: -17px;
}
.padding-top-zero{
  padding-top: 0;
}
.padding-left-zero{
  padding-left: 0;
}
.padding-right-zero{
  padding-right: 0;
}
.padding-bottom-zero{
  padding-bottom: 0;
}
.star-mini{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-lightGray;
  width: 126px;
  height: 30px;
  border-radius: 15px;
  font-size: 16px;
  &:before, &:after{
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
    padding-left: 2px;
  }
  &:before{
    color: $color-orange;
  }
  &:after{
    color: $color-darkGray;
  }
}
.star{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-lightGray;
  width: 126px;
  height: 30px;
  border-radius: 15px;
  font-size: 16px;
  &:before, &:after{
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 4px;
    padding-left: 2px;
  }
  &:before{
    color: $color-orange;
  }
  &:after{
    color: $color-darkGray;
  }
}
.star-big{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-lightGray;
  width: 182px;
  height: 46px;
  border-radius: 25px;
  font-size: 24px;
  &:before, &:after{
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 4px;
    padding-left: 2px;
  }
  &:before{
    color: $color-orange;
  }
  &:after{
    color: $color-darkGray;
  }
}
.bullet{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at right top, #c1e59b 10%, #8fa4d5 80%);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
}
// start-mini-0, start-mini-1, start-mini-2,
// start-mini-3, start-mini-4, start-mini-5
@for $before from 0 to 6 {
  $after: 5 - $before;
  .star-#{$before},
  .star-big-#{$before},
  .star-mini-#{$before}{
    &::after{
      @include repeat($after);
    }
    &::before{
      @include repeat($before);
    }
  }

  .star-#{$before} { @extend .star; }
  .star-big-#{$before} { @extend .star-big; }
  .star-mini-#{$before} { @extend .star-mini; }
}
.star-5{
  @extend .star;
  &::before{
    content: '★★★★★';

  }
}
.intro{
  &__content{
    padding: 10px 0 0 25px;
  }
  &__title{
    margin-top: 5px;
  }
  &__text{
    padding: 5px;
    padding-top: 2px;
    line-height: 1.6;
    font-size: 15px;
  }
}

.preview{
  background-color: $color-lightestGray;
  background-repeat: repeat;
  padding: 57px 0 71px;
}
.preview__breadcrumbs{
  width: 100%;
  margin-bottom: 50px;
  font-size: 12px;
  .breadcrumbs__item{
    color: $color-darkGray;
    &:not(:last-child){
      color: $color-blue;
      &::after{
        display: inline-block;
        content: '→';
        margin: 0 3px 0 5px;
      }
    }
  }
}
