.header{
  box-shadow: 0px 19px 43px -1px #f0f0f0;
  &__height{
    height: 100px;
  }
  &__location{
    height: 100%;
  }
  &__link{
    color: black;
    font-weight: 700;
    font-size: 14.5px;
    margin-left: 28px;
    height: 100%;
    align-items: center;
    display: flex;
    border-bottom: 3px solid transparent;
    transition: 500ms;
    img{
      margin-right: 6px;
    }
    &:first-child{
      margin-left: 0;
    }
    &:hover{
     border-color:#93a5cf;
    }
  }
  &__link_nested{
    &:after{
      content: '›';
      margin-left: 15px;
      font-size: 25px;
      transform: rotate(90deg);
      display: block;
      color: #9095bb;
    }
  }
  &__search{
    margin-left: 57px;
  }
}