.header{
  box-shadow: 0px 19px 43px -1px #f0f0f0;
  &__height{
    height: 100px;
  }
  &__location{
    height: 100%;
  }
  &__link{
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 14.5px;
    margin-left: 28px;
    height: 100%;
    align-items: center;
    display: flex;
    border-bottom: 3px solid transparent;
    transition: 500ms;
    img{
      margin-right: 6px;
    }
    &:first-child{
      margin-left: 0;
    }
    &:hover{
     border-color:#93a5cf;
    }
  }
  &__link_nested{
    &:after{
      content: '›';
      margin-left: 15px;
      font-size: 25px;
      transform: rotate(90deg);
      display: block;
      color: #9095bb;
    }
  }
  &__link_nested:hover &__nestedlink{
    opacity: 1;
    visibility: visible;
  }
  &__search{
    margin-left: 57px;
  }
  &__nestedlink{
    visibility: hidden;
    transition: 500ms;
    opacity: 0;
    position: absolute;
    top: 102px;
    z-index: 2;
    background-color: #97a6cf;
    li{
      transition: 500ms;
      color: white;
      border-bottom: 1px solid #b1bee0;
      display: block;
      padding: 17px 28px;
      &:hover{
        background-color: #7f91bf;
      }
    }
  }
  &__mobile{
    display: none!important;
  }
}

@media(max-width: 1100px){
  .header{
    &__desktop{
      display: none!important;
    }
    &__mobile{
      display: block!important;
      &_menu{
        transition: 500ms;
        opacity: 0;
        visibility: hidden;
      }
    }
    &__icon{
      color: #94a6cf;
      font-size: 22px;
    }
    &__link{
      display: none;
      margin-left: 0;
      &:hover{
        border-color: transparent;
      }
      &:last-child{
        padding-bottom: 15px;
      }
    }
    &__nested{
      margin-left: 15px;
    }
  }
  .open{
    .header__link{
      display: block;
    }
  }
}

